@charset "utf-8";
.container-infinite {
  background: #f6f6f6;
  //   居中部分
  & > .container-text {
    width: 1200px;
    height: 869px;
    margin: 0 auto;
    padding: 20px 0 60px;
    display: flex;
    & > .left-part {
      width: 600px;
      .placeholder {
        width: 600px;
        height: 600px;
        & > img {
          width: 600px;
          height: 600px;
        }
      }
      .hide-scrollbar2 {
        width: 600px;
        height: 103px;
        display: flex;
        margin-left: 140px;
        & > .spicture {
          & > img {
            border: 1px solid #dfdfdf;
            width: 58px;
            height: 58px;
            margin: 20px 10px;
          }
        }
      }
    }
    & > .right-part {
      width: 600px;
      height: 789px;
      & > .title-wrapper {
          margin-top: 120px;
        font-size: 28px;
        font-weight: 500;
        color: #101920;
      }
      & > .margin-4x {
          margin-top: 30px;
        height: 1px;
        background-color: #dfdfdf;
      }
      &>.discounted-price{
          font-size: 28px;
          font-weight: 500;
          margin-top: 60px;
      }
    }
  }
}
