@charset "utf-8";
.container-infinite {
  background: #f9f9f9f9;
}
.container-infinite .wapr {
  width: 1200px;
  margin: 0 auto;
}
.container-infinite .wapr .sign-up-content {
  width: 350px;
  height: 568px;
  margin: 0 auto;
  padding: 50px 20px 100px;
  position: relative;
}
.container-infinite .wapr .sign-up-content > i {
  width: 40px;
  line-height: 40px;
  display: inline-block;
  position: absolute;
  top: 116px;
  left: 25px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.container-infinite .wapr .sign-up-content > h2 {
  height: 36px;
  text-align: center;
  color: #101920;
  font-size: 24px;
  font-weight: 400;
  margin-right: 37px;
}
.container-infinite .wapr .sign-up-content > #username {
  margin-top: 30px;
  padding: 8px 50px;
  width: 208px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #999;
}
.container-infinite .wapr .sign-up-content > #password {
  margin-top: 20px;
  width: 300px;
  height: 38px;
  border-radius: 3px;
  border: 1px solid #999;
  padding-left: 8px;
}
.container-infinite .wapr .sign-up-content > .show-pwd-btn {
  padding: 6px 8px 0;
  font-size: 20px;
  color: #000;
  opacity: 0.4;
  cursor: pointer;
  position: absolute;
  left: 300px;
  top: 178px;
}
.container-infinite .wapr .sign-up-content .ico-hide-pwd:before {
  content: "\E007";
}
.container-infinite .wapr .sign-up-content > .zhuceoneplus {
  width: 310px;
  text-align: center;
  font-size: 12px;
  color: #666666;
  margin: 50px 0 20px 0;
}
.container-infinite .wapr .sign-up-content > .zhuceoneplus > a {
  color: #0099cc;
}
.container-infinite .wapr .sign-up-content > .submit-btn {
  width: 310px;
  height: 40px;
  background-color: #eb0028;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.container-infinite .wapr .sign-up-content .submit-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 0;
  height: 100%;
  height: calc(102%);
  transition: 0.25s;
  background-color: #b8001f;
  border-radius: 2px;
  z-index: -1;
}
.container-infinite .wapr .sign-up-content .submit-btn:hover:before {
  background-color: #b8001f;
  width: 100%;
  color: #fff;
}
.container-infinite .wapr .sign-up-content > .lnding {
  display: block;
  margin-top: 30px;
  text-align: center;
  width: 310px;
  color: #0099cc;
}
